#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

.PHONY: verify-version
verify-version:
	@package_version="$$(dpkg-parsechangelog -SVersion | sed 's/-[^-]*$$//')"; \
	application_version="$$(sed -n 's/^set(FLAMESHOT_VERSION \([^)]*\)).*/\1/p' CMakeLists.txt)"; \
	if [ "$$package_version" != "$$application_version" ]; then \
		echo "Package version $$package_version does not match Flameshot $$application_version" >&2; \
		exit 1; \
	fi

override_dh_auto_configure: verify-version
	# The existence of an empty .git directory triggers syncqt.
	mkdir .git || true
	# This is required to use Cmake FetchContent
	dh_auto_configure -- \
		-DFETCHCONTENT_FULLY_DISCONNECTED=OFF

override_dh_gencontrol: verify-version
	dh_gencontrol

override_dh_auto_install:
	dh_auto_install
	# Remove not required headers, etc.
	rm -rf debian/flameshot/usr/include
	rm -rf debian/flameshot/usr/lib
